<div class="container">
  <div> 
      <div class="title">
        Lets try typing :-) 
      </div>       
      <form [formGroup]="passwordForm">
        <div class="form-group">
          <input type="password" class="form-control" autocomplete="off" placeholder="Password" formControlName="password">
          <app-password-strength [passwordToCheck]="passwordForm.value.password"></app-password-strength>
        </div>       
      </form>
      <div class="footer">
        Thank you!
      </div> 
  </div>  
</div>